# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserdatad
*.xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Logs
*.log
